$black: #2B2A2C;
$grey: #6A696B;
$grey_light: #8D8D8E;
$white: #ffffff;

$screen: "max-width: 1199px";
$tabletH: "max-width: 990px";
$tabletV: "max-width: 770px";
$mobile: "max-width: 575px";









