<section class="about" id="about">
    <div class="container">
        <div class="about__inner">

            <div class="about__photo">
                <img class="about__img" src="img/designer_photo.png" alt="designer-photo">
            </div>

            <div class="about__content">
                <h3 class="about__title">about me</h3>
                <h2 class="about__bigtitle">who am i</h2>
                <div class="about__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et tempora quo, deleniti harum veritatis aliquam placeat vitae ipsam laboriosam. Id repellat aperiam est aut omnis, adipisci enim esse, amet neque.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et tempora quo, deleniti harum veritatis aliquam placeat vitae ipsam laboriosam. Id repellat aperiam est aut omnis, adipisci enim esse, amet neque.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et tempora quo, deleniti harum veritatis aliquam placeat vitae ipsam laboriosam. Id repellat aperiam est aut omnis, adipisci enim esse, amet neque.</p>
                </div>

                <div class="about__container">
                    <div>
                        <button class="btn" data-modal="#modal_hire">Hire me</button>
                    </div>
                    <div>
                        <button class="btn" data-modal="#modal_resume">See my resume</button>
                    </div>
                </div>

            </div><!-- /.about__content -->

        </div><!-- /.about__inner -->
    </div><!-- /.container -->
</section>
