<header class="header" id="header">
    <div class="container">
        <div class="header__inner">

            <div class="user">
                <div class="user__avatar">
                    <img src="https://placehold.it/57/333" alt="avatar">
                </div>
                <div class="user__content">
                    <div class="user__name">
                        Lewis <br> Nathaniel
                    </div>
                    <div class="user__prof">UI &amp; UX Designer</div>
                </div>
            </div>

            <nav class="nav" id="nav">
                <a class="nav__link" href="#" data-scroll="#works">work</a>
                <a class="nav__link" href="#" data-scroll="#about">about me</a>
                <a class="nav__link" href="#" data-scroll="#reviews">blog</a>
                <a class="nav__link" href="#" data-scroll="#footer">contact</a>
                <a class="nav__link nav__link--btn" href="#" data-modal="#modal_hire">hire me</a>
            </nav>

            <button class="burger" type="button" id="navToggle">
                <svg class="burger__icon">
                    <use xlink:href="#burger"></use>
                </svg>
            </button>

        </div>
    </div>
</header>
