<div class="modal" id="modal_resume">
    <div class="modal__dialog">

        <button class="modal__close" type="button" data-close="">
            <svg class="modal__icon">
                <use xlink:href="#close"></use>
            </svg>
        </button>

        <div class="modal__content">
            <h3 class="modal__title text-center">RESUME</h3>

            <div class="text-center">
                <a class="btn btn--thin" href="#">DOWNLOAD PDF</a>
                <a class="btn btn--thin mt-1" href="#">print</a>
            </div>

            <div class="timeline">
                <div class="timeline__col timeline__col--left">

                    <h4 class="timeline__title">EXPERIENCE</h4>

                    <div class="timeline__item">
                        <div class="timeline__date">2017 - <b>Present</b></div>
                        <h5 class="timeline__subtitle">Freelancer</h5>
                        <div class="timeline__position">Art Director</div>
                        <div class="timeline__text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis felis non tempor ullamcorper. Pellentesque cursus lectus a pulvinar dapibus. Nullam blandit aliquam ligula ut condimentum.</p>
                        </div>
                    </div><!-- /.timeline__item -->

                    <div class="timeline__item">
                        <div class="timeline__date">2016 - 2017</div>
                        <h5 class="timeline__subtitle">The Best Agency</h5>
                        <div class="timeline__position">Art Director</div>
                        <div class="timeline__text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis felis non tempor ullamcorper. Pellentesque cursus lectus a pulvinar dapibus. Nullam blandit aliquam ligula ut condimentum.</p>
                        </div>
                    </div><!-- /.timeline__item -->

                    <div class="timeline__item">
                        <div class="timeline__date">2014 - 2016</div>
                        <h5 class="timeline__subtitle">Better Agency</h5>
                        <div class="timeline__position">Senior UI/UX Designer</div>
                        <div class="timeline__text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis felis non tempor ullamcorper. Pellentesque cursus lectus a pulvinar dapibus. Nullam blandit aliquam ligula ut condimentum.</p>
                        </div>
                    </div><!-- /.timeline__item -->

                </div><!-- /.timeline__col -->

                <div class="timeline__col timeline__col--right">
                    <h4 class="timeline__title">education</h4>

                    <div class="timeline__item">
                        <div class="timeline__date">2005 - 2010</div>
                        <h5 class="timeline__subtitle">UI/UX Design</h5>
                        <div class="timeline__position">LA University, USA</div>
                    </div><!-- /.timeline__item -->

                    <div class="timeline__item">
                        <div class="timeline__date">2002 - 2005</div>
                        <h5 class="timeline__subtitle">UI/UX Design</h5>
                        <div class="timeline__position">LA Collage of Art, USA</div>
                    </div><!-- /.timeline__item -->

                    <h4 class="timeline__title">SKILLS</h4>

                    <div class="progress-bar">
                        <div class="progress-bar__item">
                            <div class="progress-bar__left">
                                <div class="progress-bar__title">UI/UX Design</div>
                            </div>
                            <div class="progress-bar__right">
                                <div class="progress-bar__bar">
                                    <div class="progress-bar__progress" style="width: 80%"></div>
                                </div>
                            </div>
                        </div>

                        <div class="progress-bar__item">
                            <div class="progress-bar__left">
                                <div class="progress-bar__title">Illustrator</div>
                            </div>
                            <div class="progress-bar__right">
                                <div class="progress-bar__bar">
                                    <div class="progress-bar__progress" style="width: 90%"></div>
                                </div>
                            </div>
                        </div>

                        <div class="progress-bar__item">
                            <div class="progress-bar__left">
                                <div class="progress-bar__title">Photoshop</div>
                            </div>
                            <div class="progress-bar__right">
                                <div class="progress-bar__bar">
                                    <div class="progress-bar__progress" style="width: 80%"></div>
                                </div>
                            </div>
                        </div>

                        <div class="progress-bar__item">
                            <div class="progress-bar__left">
                                <div class="progress-bar__title">Sketch</div>
                            </div>
                            <div class="progress-bar__right">
                                <div class="progress-bar__bar">
                                    <div class="progress-bar__progress" style="width: 70%"></div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.progress-bar -->

                    <h4 class="timeline__title">awards</h4>

                    <div class="timeline__item">
                        <div class="timeline__date">2016</div>
                        <h5 class="timeline__subtitle">THE BEST APP INTERFACE</h5>
                        <div class="timeline__position">UI/UX Magazine</div>
                        <div class="timeline__text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis felis non tempor ullamcorper. Pellentesque cursus lectus a pulvinar dapibus. Nullam blandit aliquam ligula ut condimentum.</p>
                        </div>
                    </div><!-- /.timeline__item -->

                </div><!-- /.timeline__col -->

            </div><!-- /.timeline -->

            <div class="text-center">
                <a class="btn" href="#" data-modal="#modal_hire">Hire me</a>
            </div>

        </div><!-- /.modal__content -->

    </div><!-- /.modal__dialog -->
</div><!-- /.modal -->
