<div class="modal" id="modal_project_1">
    <div class="modal__dialog">

        <button class="modal__close" type="button" data-close="">
            <svg class="modal__icon">
                <use xlink:href="#close"></use>
            </svg>
        </button>

        <div class="modal-work">
            <div class="modal-work__preview">
                <div id="worksSlider">
                    <div>
                        <img class="modal-work__photo" src="https://placehold.it/790x780" alt="">
                    </div>
                    <div>
                        <img class="modal-work__photo" src="https://placehold.it/790x780/333" alt="">
                    </div>
                </div>
            </div>

            <div class="modal-work__content">
                <div class="modal-work__header">
                    <h3 class="modal-work__title">PROJECT TITLE</h3>
                    <div class="modal-work__info">
                        category <span class="modal-work__info-divider">|</span> 2020
                    </div>
                </div>

                <div class="modal-work__client">
                    <div class="modal-work__client-title" >Client:</div>
                    <div class="modal-work__client-company" >Creative Agency</div>
                </div>

                <div class="modal-work__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, blanditiis natus quidem ad, similique facilis facere repudiandae totam dolores quaerat quo amet aut, minima saepe dolore! Excepturi aperiam, ipsa veritatis.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, blanditiis natus quidem ad, similique facilis facere repudiandae totam dolores quaerat quo amet aut, minima saepe dolore! Excepturi aperiam, ipsa veritatis.</p>
                </div>

                <div class="modal-work__footer">
                    <button class="modal-work__btn" type="button" id="modal-workPrev">Previous</button>
                    <button class="modal-work__btn" type="button" id="modal-workNext">Next</button>
                </div>
            </div><!-- /.modal-work__content -->
        </div><!-- /.modal-work -->

    </div><!-- /.modal__dialog -->
</div><!-- /.modal -->


















