<section class="news">
    <div class="container">

        <div class="news__header">
            <h3 class="news__title">read me</h3>
            <div class="news__text">
                Sometimes i write something smart
            </div>
        </div>

        <div class="articles">

            <div class="articles__col">
                <div class="articles__item">
                    <div class="articles__header">
                        <div class="articles__date">
                            10<br>
                            June
                        </div>
                        <a href="#">
                            <img class="articles__photo" src="https://placehold.it/370x257" alt="article-1">
                        </a>
                    </div>
                    <div class="articles__content">
                        <h4 class="articles__title">
                            <a href="#">TEN THE BEST APP IN 2017</a>
                        </h4>
                        <div class="articles__cat">category</div>
                        <div class="articles__text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, possimus, hic! Deleniti aliquam optio totam facilis dolores, voluptate placeat, ullam accusamus explicabo distinctio fugiat corrupti excepturi? Nihil repellat, sint voluptatem.</p>
                        </div>
                    </div>
                    <a class="btn btn--sm read-more" href="#">read more</a>
                </div><!-- /.articles__item -->
            </div><!-- /.articles__col -->

            <div class="articles__col">
                <div class="articles__item">
                    <div class="articles__header">
                        <div class="articles__date">
                            15<br>
                            June
                        </div>
                        <a href="#">
                            <img class="articles__photo" src="https://placehold.it/370x257" alt="article-1">
                        </a>
                    </div>
                    <div class="articles__content">
                        <h4 class="articles__title">
                            <a href="#">WEBSITE INSPIRATION</a>
                        </h4>
                        <div class="articles__cat">category</div>
                        <div class="articles__text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, possimus, hic! Deleniti aliquam optio totam facilis dolores, voluptate placeat, ullam accusamus explicabo distinctio fugiat corrupti excepturi? Nihil repellat, sint voluptatem.</p>
                        </div>
                    </div>
                    <a class="btn btn--sm read-more" href="#">read more</a>
                </div><!-- /.articles__item -->
            </div><!-- /.articles__col -->

            <div class="articles__col">
                <div class="articles__item">
                    <div class="articles__header">
                        <div class="articles__date">
                            20<br>
                            June
                        </div>
                        <a href="#">
                            <img class="articles__photo" src="https://placehold.it/370x257" alt="article-1">
                        </a>
                    </div>
                    <div class="articles__content">
                        <h4 class="articles__title">
                            <a href="#">CHANGES IN SOCIAL MEDIA</a>
                        </h4>
                        <div class="articles__cat">category</div>
                        <div class="articles__text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, possimus, hic! Deleniti aliquam optio totam facilis dolores, voluptate placeat, ullam accusamus explicabo distinctio fugiat corrupti excepturi? Nihil repellat, sint voluptatem.</p>
                        </div>
                    </div>
                    <a class="btn btn--sm read-more" href="#">read more</a>
                </div><!-- /.articles__item -->
            </div><!-- /.articles__col -->

        </div><!-- /.articles -->

        <div class="news__footer">
            <a class="news__link read-more" href="#">see more posts</a>
        </div>

    </div><!-- /.container -->
</section>
