<section class="reviews" id="reviews">
    <button class="reviews__btn reviews__btn--prev" id="reviews-prev">
        <svg class="reviews__btn-icon">
            <use xlink:href="#arrow"></use>
        </svg>
    </button>
    <button class="reviews__btn reviews__btn--next" id="reviews-next">
        <svg class="reviews__btn-icon">
            <use xlink:href="#arrow"></use>
        </svg>
    </button>
    <div class="reviews__inner" id="reviews-slider">

        <div class="reviews__item">
            <div class="reviews__text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint commodi itaque consectetur dolorem, esse ad id nostrum odio culpa aperiam illum hic doloribus est porro, deserunt recusandae cumque quis officiis!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint commodi itaque consectetur dolorem, esse ad id nostrum odio culpa aperiam illum hic doloribus est porro, deserunt recusandae cumque quis officiis!</p>

                <img class="reviews__photo" src="https://placehold.it/103/333" alt="review-author">

            </div>

            <div class="reviews__name">Edward M. Brooks 1</div>
            <div class="reviews__company">Marketing House</div>
            <div class="reviews__rating">
                <svg class="reviews__icon">
                    <use xlink:href="#star"></use>
                </svg>
                <svg class="reviews__icon">
                    <use xlink:href="#star"></use>
                </svg>
                <svg class="reviews__icon">
                    <use xlink:href="#star"></use>
                </svg>
                <svg class="reviews__icon">
                    <use xlink:href="#star"></use>
                </svg>
                <svg class="reviews__icon">
                    <use xlink:href="#star"></use>
                </svg>
            </div>
        </div><!-- /.reviews__item -->
        <div class="reviews__item">
            <div class="reviews__text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint commodi itaque consectetur dolorem, esse ad id nostrum odio culpa aperiam illum hic doloribus est porro, deserunt recusandae cumque quis officiis!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint commodi itaque consectetur dolorem, esse ad id nostrum odio culpa aperiam illum hic doloribus est porro, deserunt recusandae cumque quis officiis!</p>

                <img class="reviews__photo" src="https://placehold.it/103/333" alt="review-author">

            </div>

            <div class="reviews__name">Edward M. Brooks 2</div>
            <div class="reviews__company">Marketing House</div>
            <div class="reviews__rating">
                <svg class="reviews__icon">
                    <use xlink:href="#star"></use>
                </svg>
                <svg class="reviews__icon">
                    <use xlink:href="#star"></use>
                </svg>
                <svg class="reviews__icon">
                    <use xlink:href="#star"></use>
                </svg>
                <svg class="reviews__icon">
                    <use xlink:href="#star"></use>
                </svg>
                <svg class="reviews__icon">
                    <use xlink:href="#star"></use>
                </svg>
            </div>
        </div><!-- /.reviews__item -->

    </div><!-- /.reviews__inner -->
</section>




















