<section class="works" id="works">
    <div class="container">

        <div class="works__nav">
            <a class="works__nav-link" href="#" data-filter="All">All</a>
            <a class="works__nav-link" href="#" data-filter="App">App</a>
            <a class="works__nav-link" href="#" data-filter="Websites">Websites</a>
            <a class="works__nav-link" href="#" data-filter="Interaction">Interaction</a>
        </div>

        <div class="portfolio" id="portfolio">
            <div class="portfolio__col" data-cat="App">
                <div class="work" data-modal="#modal_project_1">
                    <img class="work__img" src="https://placehold.it/370x300" alt="work-1">
                    <div class="work__content">
                        <div class="work__cat">Category: App</div>
                        <div class="work__title">
                            Project title
                            <time class="work__date" datetime="2020-04-20 14:30">2020</time>
                        </div>
                    </div>
                </div>
            </div><!-- /.portfolio__col -->
            <div class="portfolio__col" data-cat="App">
                <div class="work" data-modal="#modal_project_1">
                    <img class="work__img" src="https://placehold.it/370x300" alt="work-2">
                    <div class="work__content">
                        <div class="work__cat">Category: App</div>
                        <div class="work__title">
                            Project title
                            <time class="work__date" datetime="2020-04-20 14:30">2020</time>
                        </div>
                    </div>
                </div>
            </div><!-- /.portfolio__col -->
            <div class="portfolio__col" data-cat="App">
                <div class="work" data-modal="#modal_project_1">
                    <img class="work__img" src="https://placehold.it/370x300" alt="work-3">
                    <div class="work__content">
                        <div class="work__cat">Category: App</div>
                        <div class="work__title">
                            Project title
                            <time class="work__date" datetime="2020-04-20 14:30">2020</time>
                        </div>
                    </div>
                </div>
            </div><!-- /.portfolio__col -->
            <div class="portfolio__col" data-cat="Websites">
                <div class="work" data-modal="#modal_project_1">
                    <img class="work__img" src="https://placehold.it/370x300" alt="work-1">
                    <div class="work__content">
                        <div class="work__cat">Category: Websites</div>
                        <div class="work__title">
                            Project title
                            <time class="work__date" datetime="2020-04-20 14:30">2020</time>
                        </div>
                    </div>
                </div>
            </div><!-- /.portfolio__col -->
            <div class="portfolio__col" data-cat="Websites">
                <div class="work" data-modal="#modal_project_1">
                    <img class="work__img" src="https://placehold.it/370x300" alt="work-2">
                    <div class="work__content">
                        <div class="work__cat">Category: Websites</div>
                        <div class="work__title">
                            Project title
                            <time class="work__date" datetime="2020-04-20 14:30">2020</time>
                        </div>
                    </div>
                </div>
            </div><!-- /.portfolio__col -->
            <div class="portfolio__col" data-cat="Websites">
                <div class="work" data-modal="#modal_project_1">
                    <img class="work__img" src="https://placehold.it/370x300" alt="work-3">
                    <div class="work__content">
                        <div class="work__cat">Category: Websites</div>
                        <div class="work__title">
                            Project title
                            <time class="work__date" datetime="2020-04-20 14:30">2020</time>
                        </div>
                    </div>
                </div>
            </div><!-- /.portfolio__col -->
            <div class="portfolio__col" data-cat="Interaction">
                <div class="work" data-modal="#modal_project_1">
                    <img class="work__img" src="https://placehold.it/370x300" alt="work-1">
                    <div class="work__content">
                        <div class="work__cat">Category: Interaction</div>
                        <div class="work__title">
                            Project title
                            <time class="work__date" datetime="2020-04-20 14:30">2020</time>
                        </div>
                    </div>
                </div>
            </div><!-- /.portfolio__col -->
            <div class="portfolio__col" data-cat="Interaction">
                <div class="work" data-modal="#modal_project_1">
                    <img class="work__img" src="https://placehold.it/370x300" alt="work-2">
                    <div class="work__content">
                        <div class="work__cat">Category: Interaction</div>
                        <div class="work__title">
                            Project title
                            <time class="work__date" datetime="2020-04-20 14:30">2020</time>
                        </div>
                    </div>
                </div>
            </div><!-- /.portfolio__col -->
            <div class="portfolio__col" data-cat="Interaction">
                <div class="work" data-modal="#modal_project_1">
                    <img class="work__img" src="https://placehold.it/370x300" alt="work-3">
                    <div class="work__content">
                        <div class="work__cat">Category: Interaction</div>
                        <div class="work__title">
                            Project title
                            <time class="work__date" datetime="2020-04-20 14:30">2020</time>
                        </div>
                    </div>
                </div>
            </div><!-- /.portfolio__col -->
        </div><!-- /.portfolio -->

        <div class="text-center">
            <a class="btn btn--sm" href="#" id="loadMore">LOAD MORE WORK</a>
        </div>

    </div><!-- /.container -->
</section>
